<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>A.left</string>
		<string>M.ss02</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>C.ss01</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>S</string>
		<string>U</string>
		<string>M.ss01</string>
		<string>N.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>three</string>
		<string>nine</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern1.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>A.right</string>
		<string>M.ss02</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>I</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>S</string>
		<string>U</string>
		<string>M.ss01</string>
		<string>N.ss01</string>
		<string>zero</string>
		<string>eight</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern2.underscore</key>
	<array>
		<string>underscore</string>
	</array>
</dict>
</plist>
