<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>© 2021 Johannes Pistorius</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Weltraum</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>419</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>421.992</real>
			<key>y</key>
			<real>399.008</real>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2021/05/27 09:37:31</string>
	<key>openTypeHheaAscender</key>
	<integer>750</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeHheaLineGap</key>
	<integer>100</integer>
	<key>openTypeNameDesigner</key>
	<string>Johannes Pistorius</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.johannespistorius.de</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://scripts.sil.org/OFL</string>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>300</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>750</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>100</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>750</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>250</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>Weltraum-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
